<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>MyMosque</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>

  
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="/home" class="logo">
					<img src="/assets/img/logo.png" width="35" height="35" alt=""> <span>MYMOSQUE</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge badge-pill bg-danger float-right">1</span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">
												<img alt="John Doe" src="/assets/img/user.jpg" class="img-fluid">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
												<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class="fa fa-comment-o"></i> <span class="badge badge-pill bg-danger float-right">1</span></a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="/assets/img/user.jpg" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						<span>Admin</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/home/profile">My Profile</a>
						<a class="dropdown-item" href="/home/edit-profile">Edit Profile</a>
						
						<a class="dropdown-item" href="/logout">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/home/profile">My Profile</a>
                    <a class="dropdown-item" href="/home/edit-profile">Edit Profile</a>
                    
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="/home"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						<li>
                            <a href="/anakyatim"><i class="fa fa-users"></i> <span>Anak Yatim</span></a>
                        </li>
                        <li>
                            <a href="/asnaf"><i class="fa fa-user-plus"></i> <span>Asnaf</span></a>
                        </li>
                        <li>
                            <a href="/khairat"><i class="fa fa-heart"></i> <span>Ahli Khairat</span></a>
                        </li>
                       
                        <li>
                            <a href="/home/mosque_economy"><i class="fa fa-money"></i> <span>Mosque Economy</span></a>
                        </li>
						<li class="submenu">
							<a href="#"><i class="fa fa-user"></i> <span> Jawatankuasa </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="/jawatankuasa">jawatankuasa List</a></li>
								<li><a href="/jawatankuasa/leave">Leaves</a></li>
								
							</ul>
						</li>
						
						<li class="submenu">
							<a href="#"><i class="fa fa-book"></i> <span> Annual Report </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="/receipt"> Generate report </a></li>
								
							</ul>
						</li>
                       
						<li>
							<a href="/complain"><i class="fa fa-book"></i> <span>Complain</span></a>
						</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-8 col-6">
                        <h4 class="page-title">senarai Asnaf</h4>
                    </div>
                    <div class="col-sm-4 col-6 text-right m-b-30">
                        <a href="/asnaf/add_asnaf" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Asnaf</a>
                    </div>
                </div>
                <form action="" method="POST">
                    <div class="row filter-row">
                       
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group form-focus">
                                <label class="focus-label">Name </label>
                                <input type="text" class="form-control floating" name="search">
                            </div>
                        </div>
                       
                        <div class="col-sm-6 col-md-3">
                           <button formaction="/asnaf/search" class="btn btn-success btn-block">Search</button>
                        </div>
                    </div>
                    </form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table mb-0 datatable">
                                <thead>
                                    <tr>
                                        
                                        <th>id</th>
                                        <th>name</th>
                                        <th>ic</th>
                                        <th>address</th>
                                        <th>pekerjaan</th>
                                        <th>pendapatan</th>
                                        <th>Tanggungan</th>
                                        
                                       
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var i = 0; i < list.length; i++){ %> 
                                    <tr>
                                        
                                        <td>
                                        <strong> <%= list[i].id %> </strong>
                                        </td>
                                        <td><%= list[i].name %></td>
                                        <td><%= list[i].ic %></td>
                                        <td><%= list[i].address %></td>
                                        <td><%= list[i].job %></td>
                                        <td>RM<%= list[i].income %></td>
                                        <td class="text-center">
                                            <%= list[i].tanggungan %>
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="/asnaf/edit_asnaf/<%= list[i].id%>"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="/asnaf/delete_asnaf/<%= list[i].id%>" ><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                        <% } %>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div id="delete_asset" class="modal fade delete-modal" role="dialog">
            <% for (var i = 0; i < list.length; i++){ %>
            <form action="/store/delete_med/<%= list[i].id%>" method="POST">
                <% } %>
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<img src="assets/img/sent.png" alt="" width="50" height="46">
						<h3>Are you sure want to delete this asnaf details?</h3>
						<div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
							<button type="submit" class="btn btn-danger">Delete</button>
						</div>
					</div>
				</div>
            </div>
        </form>
		</div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>


<!-- asnaf-->
</html>